<div class="container">
  <div class="row">


    <div class="col-lg-2" style="background-color: grey;">
      <div style="height: 200px;" style="background-color: rgb(255, 0, 0);">
        <img src="/images/admin-logo.png" style="height: auto; width: 150px;">
        <span style="font-weight:bolder ;" class="text-white">Rahoof Nazer</span>
        <span style="font-weight:lighter ;" class="text-white">rahoofnazer@gmail.com</span>
      </div>

      <div style="height: 300px; ">
        <div class="row tab my-5">
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'dashboard')"
            id="defaultOpen">Dashboard</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'doctors')">Doctors</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'patients')">Patients</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'appoinments')">Appoinments</button>

        </div>
      </div>

    </div>

    <div class="col-lg-10" style="background-color: rgb(177, 177, 177);">



      <div id="dashboard" class="tabcontent" style="background-color: rgb(177, 177, 177)">
        <div class="row">

          <div class="col-lg-10" style="margin-top: 5rem; padding-bottom: 10rem;">
            <button type="button" class="btn btn-primary" style="">
              ADMIN DASHBOARD <span class="badge badge-light">WELCOME!</span>
            </button>
          </div>

          <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
            <div class="w3-card-4 w3-dark-grey" style=" float: left;">

              <button class="tablinks " style="padding-right: 5rem; width: 100%;" onclick="openCity(event, 'doctors')">
                <div class="w3-container w3-left">
                  <img src="/images/doctor.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
                  <h5>Doctors</h5>
                </div>
                <div class="w3-container w3-right" style="font-size: 3rem;">

                  18
                </div>
              </button>
            </div>
          </div>


          <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
            <div class="w3-card-4 w3-dark-grey" style=" float: left;">

              <button class="tablinks " style="padding-right: 5.5rem; width: 100%;"
                onclick="openCity(event, 'patients')">
                <div class="w3-container w3-left">
                  <img src="/images/patient.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
                  <h5>Patients</h5>
                </div>
                <div class="w3-container w3-right" style="font-size: 3rem;">

                  18
                </div>
              </button>
            </div>
          </div>


          <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
            <div class="w3-card-4 w3-dark-grey" style=" float: left;">

              <button class="tablinks " style="padding-right: 2rem; width: 100%;"
                onclick="openCity(event, 'appoinments')">
                <div class="w3-container w3-left">
                  <img src="/images/apoinment.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
                  <h5>Appoinments</h5>
                </div>
                <div class="w3-container w3-right" style="font-size: 3rem;">

                  18
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>

      {{!-- ------------------------------------doctors tab------------------------------------------------ --}}


      <div id="doctors" class="tabcontent">


        <div class="">
          <h3 style="font-weight: bolder;">List of Doctors</h3>
        </div>

        <button class="tablinksbtn btn-primary px-5 my-2 mt-2 mb-5" style="border-radius: 20px;"
          onclick="openCity(event, 'add_doctor')">Add Doctor</button>

        <div id="" class="bg-secondary">
          <table id="my_table_d" class="display table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Specialized</th>
                <th>Speciality</th>
                <th>Account Status </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Rajesh</span>

                </td>
                <td>(BDS)</td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d2.jpeg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Bibeesh</span>

                </td>
                <td>(BDS)</td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d3.png" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Ananth Ram P</span>

                </td>
                <td>(BDS)</td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d2.jpeg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Ashiq</span>

                </td>
                <td>(BDS)</td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>

      {{!-- ------------------------------------doctors tab------------------------------------------------ --}}
      {{!-- ------------------------------------patients tab------------------------------------------------ --}}


      <div id="patients" class="tabcontent">


        <div class="">
          <h3 style="font-weight: bolder;">List of Patients</h3>
        </div>

        <a href="/add"><button class="btn btn-primary px-5 my-2 mt-2 mb-5">Add Patient</button></a>

        <div id="" class="bg-secondary">
          <table id="my_table_p" class="display table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Mobile </th>
                <th>Account Status</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Rajesh</span>

                </td>
                <td>19</td>
                <td>
                  <p class="text-primary">9856325632</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d2.jpeg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Umair Kallingal</span>

                </td>
                <td>34</td>
                <td>
                  <p class="text-primary">9565278452</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d3.png" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">Nandana Ram</span>

                </td>
                <td>65</td>
                <td>
                  <p class="text-primary">8545214563</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d2.jpeg" style="height: auto; width: 50px; border-radius: 25px;">
                  <span style="font-weight: bold;">John Xavier</span>

                </td>
                <td>25</td>
                <td>
                  <p class="text-primary">7563654896</p>
                </td>
                <td>

                  <div style="height: auto; width:auto;" class="px-5">
                    <label class="switch" style="">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>

                  </div>

                </td>
                <td>
                  <button class="btn btn-primary"><i class="far fa-trash-alt"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-backspace"></i></button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{!-- ------------------------------------patients tab------------------------------------------------ --}}




      {{!-- ------------------------------------appoinmnts tab------------------------------------------------ --}}

      <div id="appoinments" class="tabcontent">


        <div class="">
          <h3 style="font-weight: bolder;">List of Appoinments</h3>
        </div>

        <a href="/add"><button class="btn btn-primary px-5 my-2 mt-2 mb-5">Add Appoinment</button></a>

        <div id="" class="bg-secondary">
          <table id="my_table_a" class="display table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Speciality</th>
                <th> Date </th>
                <th>Session</th>
                <th>Time</th>
                <th>Booking For</th>
                <th>Apmnt. Ref Id</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 35px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Bibeesh </span>

                </td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>
                  <p class="">12-2-20</p>
                </td>

                <td>
                  <p class="">Evening</p>
                </td>

                <td>
                  <p class="">04:15 - 04:30</p>
                </td>

                <td>
                  <p class="">Nandana Ram</p>
                </td>

                <td>
                  <p class="">1001</p>
                </td>


              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 35px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Shibu</span>

                </td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>
                  <p class="">12-2-20</p>
                </td>

                <td>
                  <p class="">Evening</p>
                </td>

                <td>
                  <p class="">04:15 - 04:30</p>
                </td>

                <td>
                  <p class="">Nandana Ram</p>
                </td>

                <td>
                  <p class="">1001</p>
                </td>


              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 35px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Ashiq</span>

                </td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>
                  <p class="">12-2-20</p>
                </td>

                <td>
                  <p class="">Evening</p>
                </td>

                <td>
                  <p class="">04:15 - 04:30</p>
                </td>

                <td>
                  <p class="">Nandana Ram</p>
                </td>

                <td>
                  <p class="">1001</p>
                </td>


              </tr>
              <tr>
                <td>

                  <img src="/images/doctors/d1.jpg" style="height: auto; width: 35px; border-radius: 25px;">
                  <span style="font-weight: bold;">Dr Ananth Ram</span>

                </td>
                <td>
                  <p class="text-primary">Orthodentist</p>
                </td>
                <td>
                  <p class="">12-2-20</p>
                </td>

                <td>
                  <p class="">Evening</p>
                </td>

                <td>
                  <p class="">04:15 - 04:30</p>
                </td>

                <td>
                  <p class="">Nandana Ram</p>
                </td>

                <td>
                  <p class="">1001</p>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>

      {{!-- ------------------------------------appoinmnts tab------------------------------------------------ --}}
      {{!-- ------------------------------------add dooctor tab------------------------------------------------ --}}

      <div id="add_doctor" class="tabcontent">
        <div class="">
          <h3 style="font-weight: bolder;">Add Doctor</h3>
        </div>

        <div class="container" enctype="multipart/form-data">
          <form>
            <div class="form-row container">
              <div class="col-lg-12 my-3">
                <input type="text" class="form-control"  placeholder="Enter Doctor's Name">
              </div>

              <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Specialized">
              </div>

              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Speciality">
              </div>

              <div class="col-lg-6 my-3">
                <input type="text" class="form-control" placeholder="Enter Password For Doctor">
              </div>

              <div class="col-lg-6 my-3">
              <input name="image" type="file"  class="form-control">
              <p class="text-white" style="font-weight: lighter;">Upload Doctor's Profile Picture Here</p>
              </div>

              <button type="submit" class="btn btn-primary">Register Doctor</button>
              </div>
              
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#my_table_d').DataTable();
    });

    $(document).ready(function () {
      $('#my_table_p').DataTable();
    });

    $(document).ready(function () {
      $('#my_table_a').DataTable();
    });




  </script>