<div class="container  px-5" style="margin-left: 200px; padding-left: 20rem; padding-right: 10rem; "> 
    <div class="col-lg-6">
    <img src="/images/adminclinic.jpg" style="height: auto; width: 500px;">
    </div>

<div class="">
<form style="margin-right: 300px;" action="/admin/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> Admin Username</label>
    <input type="text" class="form-control" id="Username" name="Username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" name="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>