<div class="container">
  <div class="row">


    <div class="col-lg-2" style="background-color: grey;">
      <div style="height: 200px;" style="background-color: rgb(255, 0, 0);">
        <img src="/images/admin-logo.png" style="height: auto; width: 150px;">
        <span style="font-weight:bolder ;" class="text-white">Rahoof Nazer</span>
        <span style="font-weight:lighter ;" class="text-white">rahoofnazer@gmail.com</span>
      </div>

      <div style="height: 300px; ">
        <div class="row tab my-5">
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'dashboard')"
            id="defaultOpen">Dashboard</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'doctors')">Doctors</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'patients')">Patients</button>
          <button class="tablinks btn btn-info my-1" onclick="openCity(event, 'appoinments')">Appoinments</button>

        </div>
      </div>

    </div>

    <div class="col-lg-10" style="background-color: rgb(177, 177, 177);">

      

      <div id="dashboard" class="tabcontent"
    style="background-color: rgb(177, 177, 177)">
    <div class="row">

<div class="col-lg-10" style="margin-top: 5rem; padding-bottom: 10rem;">
      <button type="button" class="btn btn-primary" style="">
        ADMIN DASHBOARD <span class="badge badge-light">WELCOME!</span>
      </button>
</div>

    <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
      <div class="w3-card-4 w3-dark-grey" style=" float: left;">

<button class="tablinks " style="padding-right: 5rem; width: 100%;" onclick="openCity(event, 'doctors')">
  <div class="w3-container w3-left">
            <img src="/images/doctor.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
            <h5>Doctors</h5>
          </div>
          <div class="w3-container w3-right" style="font-size: 3rem;">

            18
          </div>
</button>          
      </div>
    </div>


    <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
      <div class="w3-card-4 w3-dark-grey" style=" float: left;">

<button class="tablinks " style="padding-right: 5.5rem; width: 100%;" onclick="openCity(event, 'patients')">
  <div class="w3-container w3-left">
            <img src="/images/patient.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
            <h5>Patients</h5>
          </div>
          <div class="w3-container w3-right" style="font-size: 3rem;">

            18
          </div>
</button>          
      </div>
    </div>


    <div class="col-lg-4 my-1 tab" style="background-color: rgb(177, 177, 177);">
      <div class="w3-card-4 w3-dark-grey" style=" float: left;">

<button class="tablinks " style="padding-right: 2rem; width: 100%;" onclick="openCity(event, 'appoinments')">
  <div class="w3-container w3-left">
            <img src="/images/apoinment.png" alt="Avatar" style="height: 30px; width: auto; border-radius: 25px">
            <h5>Appoinments</h5>
          </div>
          <div class="w3-container w3-right" style="font-size: 3rem;">

            18
          </div>
</button>          
      </div>
    </div>
  </div>
</div>

      <div id="doctors" class="tabcontent">
          <div id="example" class="">
        <table id="table_id" class="display table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            </tbody>
            </table>
      </div>
    </div>


      <div id="patients" class="tabcontent">
        patients tab
      </div>
      <div id="appoinments" class="tabcontent">
        appoinments tab
      </div>


    </div>
  </div>

