<nav class="navbar-expand-lg navbar navbar-dark bg-light mx-5">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" href="/" style="font-weight: bold; color: rgb(96, 96, 255); font-size: 30px;">DENTACARE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="dropdown float-right" style="text-align: right;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
  Admin
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Rahoof Nazer</a></li>
    <li><a class="dropdown-item" href="#">My Profile</a></li>
    <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
  </ul>
</div>
  </div>
</nav>
<hr>